p {
  font-size: 20px;
  margin: 0px;
  color: #141414;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
}

b {
  font-weight: 600;
  color: #282b2b;
  font-size: 21px;
  background: #f4fdff;
  border: 1px solid #141414;
  padding: 1px 5px;
}

div#date {
  position: absolute;
  top: 0px;
  left: 25%;
  padding: 5px;
  background-color: #ffffffd4;
  width: 50%;
  border: 1px solid #131313;
}
Tile{    font-size: 35px;
   text-decoration: underline;
}

Total{background: #fffed5;}
      